
<h1> ACTIVITY HELPER </h1>
<div class="container">
 <!-- <div class="row">
 <div class="span9"><%= yield %></div>
 <div class="span3"> -->
 <h2>About Us</h2>
 <p>This is Activity Helper portal, where you can view all the upcoming activities and join them.
 	You can also post your own activities. Register your details and sign in with the portal to create your own activity</p>
<!-- </div>
 </div> -->
</div>

<h4>Activities:</h4>
<% @activities.each do |activity| %>
	<div class="row">

		<span class="col-md-2 col-md-ofset-1">
			Title: 
		</span>
		<span class="col-md-7 col-md-offset-1">
			<%= activity.title %>
		</span>
	</div>

	<div class="row">
		<span class="col-md-2 col-md-ofset-1">
			Description: 
		</span>

		<span class="col-md-7 col-md-offset-1">
			<%= activity.description %>
		</span>

		<span class="col-md-7 col-md-offset-1">
			<%= activity.address %>
		</span>

		<%= image_tag activity.avatar.url%> 
		<% if activity.video %>
			<iframe width="200" height="200" src="<%=activity.video%>" frameborder="0" allowfullscreen>
			</iframe> 

		<%end%>
		<!-- <video width="320" height="240" controls="controls">
      
            <source src="activity.video"/>
 
         </video> -->
    </div>
	
	<div>
		<% if current_user %>
			<%= form_for :comment , url: user_activity_comments_path(current_user , activity), html: {class: "comment-form"} do |f| %>
				<p>	<%= f.label :comment %> </p>
				<p>	<%= f.text_field :body, autocomplete: false, class: "form-control" %> </p>
				<p> <%= f.submit "Save", class: "btn btn-primary" %> </p>

				<br>
	<b class="text-primary">Comments:</b>
	<% activity.comments.each do |c| %>
		<p class="text-danger"><%= c.body %></p>  
		
	     <% end %>
	          <% end %>	
	 <% end %>
	    <!-- <button id= "comment-button" class="comment-button btn btn-default">Comment</button> -->
<!-- 	    <button class="comment-button btn btn-default">Show Comments</button>
	    
	    <p class="text-danger"><%= activity.comments.count %>comments</p>
	</div>

	
<% end %>
 -->
